<footer>
<p>
  The event is hosted in either Dundee or Abernyte, depending on where we can get sponsors to give us free beer.
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
